<config>
  <!-- Folding Slot Configuration -->
  <gpu v='{{ gpu }}'/>

  <!-- Slot Control -->
  <power v='{{ power }}'/>

  <!-- User Information -->
  <user v='{{ user }}'/>
{% if passkey %}
  <passkey v='{{ passkey }}'/>
{% endif %}

  <!-- The team ID -->
  <team v='{{ team }}'/>

  <!-- Folding Slots -->
  <slot id='0' type='CPU'/>
</config>